.frm-search {
    margin-right: 30px;
}

.research {
    margin-top: 30px;
}
.module .ellips {
  margin: 0;
  margin-bottom: -16px;
}

.module {
  // width: 250px;
  overflow: hidden;
   margin: 0 0 1em 0;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
